/* --------------  HTML PROPS --------------*/
body {
  margin: auto;
  padding: auto;
  
  height: 100vh;
  background-color: black;
}

/* -------------- CLASSES -------------- */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}

.add-text {
  color: white;
  margin:5px;
}

/* -------------- IDS -------------- */
#add-button {
  height: 30px;
  width: 100px;
  border-radius: 25px;
  
  text-align: center;
  background-color: lightskyblue;
  color: white;
}

#task-input {
  width: calc(100vw/2);
}